.navigation{
    padding: 20px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.navLogo{
    align-items: flex-start;
}


.navbar ul {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    list-style-type: none;
}

.navLink {
    padding-left: 50px;
    text-decoration: none;
    color: #FF6060;
}

