.announce {
    margin: 20px;
  }
  
  .announce_content {
    display: flex;
    justify-content: space-between;
  }
  
  .announce_content_infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 500;
    color: #FF6060;
  
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  
  .announce_content_infos_button button {
    display: inline;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #FF6060;
    color: white;
  }
  
  .announce_content_button {
    display: inline;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #FF6060;
  }
  
  .anounce_content_div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .announce_content_host {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .announce_content_host_stars img {
    margin: 0 3% 5% 3%;
  }
  
  .announce_content_host_profile {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0 10px;
    margin-bottom: 25px;
  }
  
  .announce_content_host_name {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
  }
  
  .announce_dropdown {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  
  .announce_dropdown_item {
    width: 48%;
    height: auto;
  }
  
  @media screen and (min-width: 768px) and (max-width: 900px) {
    .announce_content_infos h1 {
      font-size: 28px;
      margin-bottom: 2%;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 768px) {
    .announce_content {
      width: 100%;
      margin: 0 auto 3% 0;
      display: block;
    }
  
    .announce_content_infos {
      font-size: 12px;
      margin-bottom: 2%;
  
      h1 {
        font-size: 20px;
        margin-bottom: 2%;
        font-weight: 500;
      }
    }
  
    .announce_content_button {
      border-radius: 0px;
    }
  
    .announce_content_infos_button button {
      padding: 2px 10px;
      border-radius: 5px;
    }
  
    .announce_content_host {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  
    .announce_content_host_stars {
      img {
        margin: 0 3% 5% 3%;
        width: 15px;
      }
  
      width: 50%;
    }
  
    .announce_content_host_profile img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  
    .announce_content_host_name {
      display: flex;
      flex-direction: column;
      color: #FF6060;
      font-size: 12px;
      font-weight: 600;
      margin: auto;
    }
  
    .announce_dropdown {
      display: block;
    }
  
    .announce_dropdown_item {
      width: 100%;
    }
  }
  