.container-collapses {
   
   width: 70%;
   margin-left: 200px;
   margin-top: 40px;
   
}
@media screen and (max-width: 768px){
   .container-collapses {
      width: 95%;
      margin-left: 10px;
   }
}